<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티 게시판</title>
  <!-- 외부 아이콘 임포트 -->
  <script src="https://kit.fontawesome.com/d4b88f7572.js" crossorigin="anonymous"></script>
  <!--    폰트 적용인데 이거 css 파일로 뗄 수 없나? 될 것 같은데 -->
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="community.css" th:href="@{/css/board/community.css}">

</head>

<header>
  <!-- 로고, 클릭하면 메인 화면으로 이동 -->
  <a href="" th:href="@{/}" class="logo"><img src="" th:src="@{/img/logo.jpg}" alt="" width="150px" height="100px"></a>

  <!-- 상단 메뉴 -->
  <div class="category">
    <!-- 카테고리 구분, menu = depth1 -->
    <ul class="menu">
      <li class="pcode">분야별 레시피</li>
      <li>|</li>
      <li class="pcode">테마별 레시피</li>
      <li>|</li>
      <li class="pcode">사진 팁</li>
      <li>|</li>
      <li class="pcode">베이킹 클래스 찾기</li>
      <li>|</li>
      <li class="pcode">커뮤니티</li>
    </ul>
    <!-- 드롭다운 -->
    <div class="dropdown-content">
      <!-- 각 url에 {reqPage}/{bcategory} -->
      <div class="depth2">
        <a href="#" th:href="@{/board/1?bcategory=B0101}" class="ccode">제과</a>
        <a href="#" th:href="@{/board/1?bcategory=B0102}" class="ccode">제빵</a>
        <a href="#" th:href="@{/board/1?bcategory=B0103}" class="ccode">음료</a>
        <a href="#" th:href="@{/board/1?bcategory=B0104}" class="ccode">노오븐 베이킹</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?bcategory=B0201}" class="ccode">발렌타인 데이</a>
        <a href="#" th:href="@{/board/1?bcategory=B0202}" class="ccode">할로윈</a>
        <a href="#" th:href="@{/board/1?bcategory=B0203}" class="ccode">빼빼로 데이</a>
        <a href="#" th:href="@{/board/1?bcategory=B0204}" class="ccode">크리스마스</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?bcategory=B0301}" class="ccode">구도/각도</a>
        <a href="#" th:href="@{/board/1?bcategory=B0302}" class="ccode">보정</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?bcategory=B0401}" class="ccode">베이킹 클래스 찾기</a>
      </div>
      <div class="depth2">
        <a href="#" th:href="@{/board/1?bcategory=B0501}" class="ccode">QnA</a>
        <a href="#" th:href="@{/board/1?bcategory=B0502}" class="ccode">자유 게시판</a>
      </div>
    </div>
  </div>

  <!-- 우측상단 아이콘 -->
  <div class="icon">
    <ul class="icon_ul">
      <li><a href="#" class="searchBtn"><i class="fas fa-search"></i></a></li>
      <li><i class="far fa-user"></i></li>
      <li><i class="fas fa-bars"></i></li>
    </ul>
  </div>
</header>

<!-- 검색창 -->
<div class="container_search">
  <div class="search">
    <input class="search textbox" type="text" placeholder="검색어를 입력하세요">
    <button class="search button">검색</button>
  </div>
</div>

<!-- main -->
<main>
  <!-- 왼쪽 배너. 이자식 바인딩 거슬리네 정말-->
  <div id="leftCategory" th:each=" superCode : ${leftBannerSuper}">
    <div id="leftCategory_title" th:text="${superCode.decode}">[super]</div>
    <ul class="leftCategory_ul">
      <th:block th:each=" sub : ${leftBannerSub}">
        <li class="leftCategory_li"><a href="" th:href="@{/board/1(bcategory=${sub.code})}" id="leftCategory_li"
            class="leftLi_a" th:text="${sub.decode}">[sub]</a></li>
      </th:block>
    </ul>
  </div>
  <!-- 본문 -->
  <div class="liLiWrap" th:data-code="${bcategory}">
    <div class="liLiMenu" th:text="${bbsTitle['__${bcategory}__']}?:_">[sub]</div>
    <div class="liLiItems">

      <div class="commuBoard">
        <div class="commu">
          <div>no</div>
          <div>제목</div>
          <div>작성자</div>
          <div>작성일</div>
          <div>조회수</div>

          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
          <!-- start -->
          <div>1</div>
          <div>제목1</div>
          <div>작성자1</div>
          <div>작성일1</div>
          <div>조회수1</div>
          <!-- end -->
        </div>
      </div>

    </div>

  </div>
</main>

<!-- 게시판 하단 쪽번호, 검색창 -->
<div id="page_navi">
  <!-- 페이징 버튼 -->
  <div class="bbs-page">
    <!--이전페이지정보-->
    <th:block th:if="${pc.prev}">
      <a class="bbs-page-item" href="" th:href="@{/board/1(bcategory=${param.bcategory})}"><i
          class="fas fa-backward"></i></a>
      <a class="bbs-page-item" href=""
        th:href="@{/board/{reqPage}(reqPage=${pc.startPage-1}, bcategory=${param.bcategory})}"><i
          class="fas fa-angle-left"></i></a>
    </th:block>

    <!--페이지표시-->
    <th:block th:each="pnum : ${#numbers.sequence(pc.startPage,pc.endPage)}">
      <th:block th:if="${pnum != 0}">
        <!--                  <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{|/board/${pnum}|}" th:text="${pnum}">1</a>-->
        <a class="bbs-page-item" th:classappend="${pc.rc.reqPage == pnum} ? 'active'" href=""
          th:href="@{/board/{reqPage}(reqPage=${pnum}, bcategory=${param.bcategory})}" th:text="${pnum}">1</a>
      </th:block>
    </th:block>
    <!--                (bcategory=${param.bcategory})-->

    <!--다음페이지정보-->
    <th:block th:if="${pc.next}">
      <a class="bbs-page-item" href=""
        th:href="@{/board/{reqPage}(reqPage=${pc.endPage+1}, bcategory=${param.bcategory})}"><i
          class="fas fa-angle-right"></i></a>
      <a class="bbs-page-item" href=""
        th:href="@{/board/{reqPage}(reqPage=${pc.finalEndPage}, bcategory=${param.bcategory})}"><i
          class="fas fa-forward"></i></a>
    </th:block>
  </div>

</div>

</div>

<!-- 게시판 최하단. 게시글 검색, 기타 등등 -->
<div id="post_search_bar">
  <select name="post_filter" id="post_filter">
    <option value="title">제목</option>
    <option value="author">작성자</option>
    <option value="mixed">제목+내용</option>
  </select>
  <input type="text" name="post_search" id="post_search"><button id="post_search_btn">검색</button>
</div>

<!-- 하단 -->
<footer>
  <ul class="menu">
    <li>HOME CA:BE 운영팀:a@kh.com</li>
    <li>|</li>
    <li>이용약관</li>
    <li>|</li>
    <li>개인정보취급방침</li>
  </ul>
</footer>


</body>

</html>